<ion-view view-title="Contact Us">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Contact Information
            </div>
            <div class="item item-text">
                <h2>Our Address</h2>
                <address style="font-size: 100%">
                    121, Clear Water Bay Road<br>
                    Clear Water Bay, Kowloon<br>
                    HONG KONG<br>
                    <i class="icon ion-android-call"></i>: +852 1234 5678<br>
                    <i class="icon ion-printer"></i>: +852 8765 4321<br>
                    <i class="icon ion-email"></i>:
                    <a href="mailto:confusion@food.net">confusion@food.net</a>
                </address>
            </div>
            <div class="button-bar">
                <a class="button button-positive icon ion-android-call" href="">
                    Call
                </a>
                <a class="button button-calm icon ion-social-skype" href="">
                    Skype
                </a>
                <a class="button button-balanced icon ion-email" href="">
                    Email
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
